* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    background-color: #F4F6F8;
    color: #111827;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* LOGO SOLTA NO FUNDO */

.topo-cadastro {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-area img {
    width: 45px;
    height: auto;
}

.logo-area h1 {
    color: #0B3D91;
    font-size: 22px;
}

/* CONTAINER DO CADASTRO */

.container-cadastro {
    background-color: white;
    width: 100%;
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 0px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.container-cadastro h2 {
    margin-bottom: 10px;
}

.container-cadastro p {
    margin-bottom: 25px;
    font-size: 14px;
}

/* FORMULÁRIO */

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-cadastro label {
    text-align: left;
    font-size: 13px;
}

.form-cadastro input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

/* BOTÃO QUADRADO */

.form-cadastro button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background-color: #00A3E0;
    color: white;
    cursor: pointer;
    border-radius: 0px;
    font-size: 14px;
}

.form-cadastro button:hover {
    background-color: #0B3D91;
}

/* MENSAGENS */

.message {
    margin-top: 10px;
    font-size: 13px;
    display: none;
}

/* LINK LOGIN */

.link-login {
    margin-top: 20px;
    font-size: 13px;
}

.link-login a {
    color: #00A3E0;
    text-decoration: none;
}

/* RODAPÉ ELEGANTE */
.rodape {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #555;
}