
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Inter", sans-serif;
    background-color: #F4F6F8;
    color: #111827;
}


.container, .container-topo {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


.topo {
    background-color: #0B3D91;
    padding: 35px 0; 
}

.container-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-img {
    width: 40px;
    height: auto;
}

.logo-area h1 {
    color: #ffffff;
    font-size: 26px;
}


.menu.assimetria {
    padding-left: 40px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 22px;
    font-size: 15px;
}


.btn-destaque {
    background-color: #F5A623;
    padding: 10px 16px;
    border-radius: 0;
    color: #111827;
}


.banner-central {
    padding: 80px 0;
    text-align: center;
}


.banner-central h2 {
    font-size: 38px;
    color: #0B3D91;
    margin-bottom: 15px;
}


.banner-central p {
    font-size: 17px;
    margin-bottom: 40px;
}


.imagem-banner img {
    width: 100%;
    max-width: 500px;
    height: auto;
}


.sobre-resumo {
    background-color: #ffffff;
    padding: 70px 0;
    text-align: center;
}

.titulo-grande {
    font-size: 34px;
    color: #0B3D91;
    margin-bottom: 25px;
}


.destaques {
    padding: 70px 0;
}


.destaques h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #0B3D91;
}


.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.card {
    background-color: #ffffff;
    padding: 22px;
    border-radius: 0;
    width: 32%;
    text-align: center;
}


.card img {
    width: 100%;
    max-width: 180px;
    margin-bottom: 15px;
}


.card h4 {
    margin-bottom: 10px;
}


.rodape {
    background-color: #0B3D91;
    color: #ffffff;
    padding: 30px 0;
    margin-top: 60px;
}


.container-rodape {
    text-align: center;
}


.links-rodape a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}


