* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
}

body {
    background: #0B3D91;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.topo-login {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
}

.logo-area img {
    width: 45px;
    height: auto;
}

.logo-area h1 {
    font-size: 22px;
}


.container-login {
    width: 100%;
    max-width: 420px;
    margin: 40px auto;
    background: #F4F6F8;
    padding: 35px;
    border-radius: 8px;
    text-align: center;
    color: #111827;
}


.container-login h2 {
    font-size: 26px;
    margin-bottom: 8px;
}

.container-login p {
    font-size: 14px;
    margin-bottom: 25px;
    color: #0B3D91;
}


.form-login {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-login label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #111827;
}

.form-login input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #0B3D91;
    border-radius: 4px;
    font-size: 14px;
}


.form-login button {
    padding: 12px;
    background: #00A3E0;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 0;
}

.form-login button:hover {
    background: #0B3D91;
}


.message {
    margin-top: 15px;
    font-size: 14px;
    display: none;
}


.link-cadastro {
    margin-top: 18px;
    font-size: 14px;
    text-align: center;
}

.link-cadastro a {
    color: #00A3E0;
    text-decoration: none;
}


.rodape-login {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
    color: #cbd6e2;
    margin-top: auto;
}

